@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    background-image: url(B11-A2-Kids-School/assets/bg.png);
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/* shared styles */
.display-flex {
    display: flex;
}

.hide {
    display: none;
}

/* colors */
.black {
    color: rgba(17, 17, 17, 1);
}

.white {
    color: rgba(247, 247, 247, 1);
}


.orange {
    color: rgba(254, 163, 1, 1);
}

.sky-blue {
    color: rgba(1, 172, 253, 1);
}

.cyan {
    color: rgba(5, 212, 223, 1);
}

.violet {
    color: rgba(93, 88, 239, 1);

}


.btn-primary {
    color: white;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px 60px;
}

.btn-primary:hover {
    background-color: rgb(209, 132, 0);
}

.btn-secondary {
    color: white;
    background-color: rgba(17, 17, 17, 1);
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 12px 45px;
}

.btn-secondary:hover {
    background-color: rgb(70, 70, 70);
}

/* header styles */

header {
    /* margin-top: 20px; */
}

/* nav styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    align-items: center;
    gap: 10px;
}

.nav-item {
    list-style: none;

}

.nav-link:hover {
    color: rgb(70, 70, 70);
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}

.nav-links {
    gap: 32px;
    padding: 0;
}

#brand {
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
}

.brand:hover {
    color: rgb(100, 100, 100);
}

/* banner styles */
.banner {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
    margin: 0;
}

.banner-description {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* section styles  */

.section-title {
    font-weight: 700;
    font-size: 2.875rem;
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.card-container {
    gap: 30px;
}

.card {
    align-items: center;
    text-align: center;
    border-radius: 19px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card img {
    margin-top: 20px;
}

.card a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

#card-1 {
    background-image: linear-gradient(rgba(222, 245, 255, 1), transparent, transparent);
    border: 2px solid rgba(222, 245, 255, 1);
}

#card-2 {
    background-image: linear-gradient(rgba(255, 244, 220, 1), transparent, transparent);
    border: 2px solid rgba(255, 244, 220, 1);
}

#card-3 {
    background-image: linear-gradient(rgba(242, 232, 255, 1), transparent, transparent);
    border: 2px solid rgba(242, 232, 255, 1);
}

.card-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.card-description {
    font-weight: 500;
    font-size: 1rem;
    padding: 40px;
}

.left-right-button {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.left {
    width: 50px;
    height: 50px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
}

.left:hover {
    background-color: rgb(209, 132, 0);
}

.right {
    width: 50px;
    height: 50px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
}

.right:hover {
    background-color: rgb(209, 132, 0);
}

/* section ends here */

/* our stories style */

.story-1 {
    background-color: wheat;
    width: 540px;
    border-radius: 16px;
}

.story-1 img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.date {
    position: absolute;

    padding: 15px;
    background-color: rgba(60, 216, 232, 1);
    display: unset;
    border-radius: 50px;
}

.story-title {
    font-weight: 700;
    font-size: 1.5rem;

    margin-bottom: 48px;
}

.section-content {
    padding: 38px;
}

/* .story-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
} */